<!--
  ~ Copyright (c) Seat24 AB
  -->

<configuration>

    <appender name="Stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%c{1}::%M]: %msg%n</pattern>
        </encoder>
    </appender>

    <!-- By default, make the logging keep quiet -->
    <root level="DEBUG">
        <appender-ref ref="Stdout"/>
    </root>

    <!-- Lower the logging level for relevant classes -->
    <logger name="com.etraveli.oss.codestyle" level="DEBUG"/>

    <!-- Make the frameworks shut up. -->
    <logger name="org.springframework" level="WARN"/>

</configuration>